body {
    background-color: #ddd;
}

#login {
    width: 100%;
}
#jwt_debug {
    width: 100%;
}

h1 {
    padding: 0 0 0 0;
    font-size: 1.5em;
}
h2 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 1.1em;
    font-weight: bold;
}

textarea {
    width: 100%;
}